language: csharp
mono: none
dotnet: 2.2
dist: bionic
env:
  global:
    secure: j1tBnjTJVmGyjzB7axATVd6PAbmCoCH/wfLSX5K8kjU94nDj8vw7U0S+4wUVv7bOE47FAUmTyHM7J07Ie1i/0T5qoWRBwnbvUcsJdazmAvmZpoz7LSynWRxAx5P0AeCCa9ApHPuiDjFvXBtNDM+EEMU0v/qeSGdBiMHZdbl99LtP0Xq4zN77djP8pRwQJm3VpCgzctoHlScBzdWyHCPWuhEs1EgNfmzK7X/8/3N5xp6BZRDtlwNKqUaDSkvZFzSpE98saCY/mb//C6fyXE0l08mXp7JJM/NQY9PDpWhNdnfwxE5hsxSDyD8DyRtVKAoHl0tFTKQbWEz1tXN6naYtW8GIT5MMSwrXPbJPIn3Owp2I5oYn4jNQ15omymgnoBitXz27b65BXKMbj4+kdnwh/h+ZRyjZiOV+DYe0E4QtU2K6VvJGwoxNnTLViaRq/H2LaW0X3p9LPEcL4k6tCGFkopTS7abhm+Ct5sHIcVBMZ9xWmXKcbs93eB8ie3qnrVjmzJnrYcpP+fQ71n7B+Qx8yse0kI369uRkvqcgU21nRJWuz7cB+bDrMAY2D5OAihqnCcJWmWC94cgoUTHlhaEvEMQ7MsityBHsShCfZ472PBtJ89dZRDxe6IwZCzYaqmb4M65dvUpn5B3kYRLmxdgqWIiz67S5dHDeBD6aZXvWhIU=

script:
  - dotnet restore
  - dotnet test test
  - dotnet pack -c Release csharp-ovh/csharp-ovh.csproj

deploy:
  - provider: releases
    api_key:
      secure: ViIEe+6Ld0dvhMDWJ9FRxNTQJPywB1pmGczGiror3bOhOuHuGlYujNzrnoaKN8NRbhuwdNwUdRNLRf793dbngAhmaMBpZOaoHYMCW8JUguWC08DFKTXdqwqS1IKWLHF7x9eep9IGzNRozPXMx57cyJNBMfCDOxWFcI2UF2YTkYC+PbkKwnsp17rqsBiG46GNc7GToziVVyfckILJ92NElIbGOB7Hkew6DY3aDAMUzYfwtEXjKqg8tUBmDHJ8xz0XJnUGW8Ja7WtE9fDlODqblIYLsJBwavBkU2aELiNLm0dBlBOuca2CcmkHHXVAjJaxcdasTSjXoKTfyWKDiM5s1mltoexGQLTEQ3yIeAJayzzZcl2M2buGu7Vk91JIyJpJlWhXmiO9isipNmmA2cnd5expvyUCz4JnQN2nOJ2B64/eP7p8YQTzpZ3o9aSTXvpw5w5iVn/QpBfvGqPyVJMmJkOFkjhNivRZBeV2oPNH9ga98CugKQv5Cu2OzsFPNrqqckawfq/B8Ufv5iYu/zzrMkIs49O9IkhQf9sSL1aDHUbN2+ebM9p2900ZIfizKcshN06P8ffy5I0CVwP1cYOzyMAtoZ8ZLXWN2JcKWDjWmAwhEp2eKhD498KTf4dnLRIgDJExjnw/QlC2qemnJkRmXLN/CNk/Ez6cqZH8wLXAkFU=
    file_glob: true
    file: csharp-ovh/bin/release/csharp-ovh.*.nupkg
    skip_cleanup: true
    on:
      repo: ovh/csharp-ovh
      tags: true

  - provider: script
    script:
      - dotnet nuget push -s https://nuget.org -k $NUGET_API_KEY csharp-ovh/bin/release/csharp-ovh.*.nupkg
    file_glob: true
    file: csharp-ovh/bin/release/csharp-ovh.*.nupkg
    skip_cleanup: true
    on:
      repo: ovh/csharp-ovh
      tags: true
